body {
    background-color: var(--bg-dark);
    color: var(--text)
}

.main-body {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
}

#title {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    margin: 50px 0;
    width: clamp(400px, 70%, 1300px);
}

#title p {
    color: var(--text-muted);
    margin: 10px 0;
}

#login {
    cursor: pointer;
    height: 30px;
    width: clamp(150px, 5%, 300px);
    background: transparent;
    color: var(--text-muted);
    border-radius: 5px;
    border: 1px solid var(--text-muted);
    position: absolute;
    right: 10px;
    top: 10px;
    overflow: hidden;
    z-index: 1;
    transition: 0.1s;
}

#login a {
    z-index: 2;
    transition: 0.1s;
}

#login::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.1s;
    background: var(--text);
    color: var(--text);
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

#login:hover::after {
    width: 100%;
}

#login:hover a {
    color: var(--bg)
}