@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Kantumruy Pro", sans-serif;
}

.emoji-font {
    font-family: "Segoe UI Variable", "Segoe UI Emoji", sans-serif !important;
}


:root {
    --bg-dark: oklch(0.1 0.035 203);
    --bg: oklch(0.15 0.035 203);
    --bg-light: oklch(0.2 0.035 203);
    --text: oklch(1 0 89.876);
    --text-muted: oklch(0.811 0 89.876);
    --highlight: oklch(0.5 0.07 203);
    --border: oklch(0.4 0.07 203);
    --border-muted: oklch(0.3 0.07 203);
    --primary: oklch(0.76 0.1 203);
    --secondary: oklch(0.76 0.1 23);
    --danger: oklch(0.7 0.07 30);
    --warning: oklch(0.7 0.07 100);
    --success: oklch(0.7 0.07 160);
    --info: oklch(0.7 0.07 260);
}