body {
    background-color: var(--bg-dark);
    color: var(--text);
    overflow-y: auto;
    overflow-x: hidden;
}

.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
#app {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    font-family: "Montserrat", serif;
    width: 100vw;
    height: 100vh;
}

#app canvas {
    width: 100%;
    height: 100%;
}

#loader {
    position: absolute;
    z-index: 2;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(30px);
    background: rgba(0,0,0,0.2);
    transition: 1s;
    flex-flow: column nowrap;
}

#loader p {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: lighter;
}

#loader.disable {
    opacity: 0;
    pointer-events: none;
}